<div class="col-md-4 col-md-offset-4 panel-fb" style="margin-top: 50px">
	<h2>Editar Usuario <%= resource_name.to_s.humanize %></h2>	
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<%= devise_error_messages! %>	
	<div class="form-group">
	<%= f.label 'Correo' %><br />
	<%= f.email_field :email, autofocus: true, class:'form-control' %>
	</div>
	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
	<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	<% end %>
	<div class="form-group">
	<%= f.label 'Contraseña' %> <i>(Dejar en blanco si no la deseas cambiar)</i>    <% if @minimum_password_length %>
	<br />
	<em><%= @minimum_password_length %> caracteres minimo</em>
	<% end %><br />
	<%= f.password_field :password, autocomplete: "off", class:'form-control' %>
	</div>	
	<div class="form-group">
	<%= f.label 'Confirmar Clave' %><br />
	<%= f.password_field :password_confirmation, autocomplete: "off", class:'form-control' %>
	</div>
	<div class="form-group">
	<%= f.label 'Clave Actual' %> <i>(Necesitamos tu clave actual para actualizar los datos)</i><br />
	<%= f.password_field :current_password, autocomplete: "off", class:'form-control' %>
	</div>
	<div class="actions">
	<%= f.submit "Actualizar", class: 'btn btn-warning pull-right' %>
	</div>
	<% end %>
	<h3>Cerrar mi cuenta</h3>
	<p>No estas feliz? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estas Seguro?" }, method: :delete, class:'btn btn-warning' %></p>
	<%= link_to "Volver", :back %>
</div>